<div id="stock-lookup">
	<h3>Search for Stocks</h3>
	<%= form_tag search_stocks_path , method: :get,  remote: true, id: 'stock-lookup-form' do %>
	<div class="form-group row no-padding text-center col-md-12">
		<div class="col-md-10">
		<%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol (GOOG, AAPL)", autofocus: true, class: 'form-control search-box input-lg' %>
		</div>
		<div class="col-md-2">
		<%= button_tag(type: :submit, onclick: "myFunction()", class: "btn btn-lg btn-success", id: "stock-lookup-button") do %>
			<i class="fa fa-search"></i> Look up a stock
		<% end %>
		</div>
	</div>
	<% end %>
	<%= render 'common/spinner' %>
	<% if @stock.present? %>
		<div id="stock-lookup-result" class="well results-block">
			<strong>Symbol:</strong> <%= @stock.ticker %>
			<strong>Name:</strong> <%= @stock.name %>
			<strong>Price:</strong> <%= @stock.price %>
			<% puts @stock.price %>
		</div>
	<% end %>
	<div id="stock-lookup-errors"></div>
</div>
<script type="text/javascript">
	function myFunction() {
		spinner = document.getElementById('spinner');
		spinner.style.display = "block";
	}
</script>